@import "../../../styles/styles.scss";

.DemoHeader {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 26px 0px;

  &-Title {
    margin: auto;
  }

  &-Amounts {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-Amount {
    font-size: 25px;
    margin: auto;
    padding-left: 5px;
  }

  &-Tokens {
    color: $blue-secondary;
    position: absolute;
    bottom: -17px;
    font-size: 13px;
    width: 100%;
    text-align: center;
  }

  &-Progress {
    width: 18px !important;
    height: 18px !important;
    position: relative;
    top: 5px;
    left: 8px;
  }
}
