@import "../../../styles/styles.scss";

.StepThree {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: $white;

  &-SeedPanel {
    height: 30vh !important;
    min-height: 260px !important;
  }

  &-Description {
    text-align: justify;

    @media screen and (max-width: 400px) {
      font-size: 14px;
      margin: 0 !important;
    }
  }

  &-Button {
    width: 250px !important;

    @media screen and (max-width: 400px) {
      margin: 2px !important;
  }
  }
}
