.Transactions {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  &-Date {
    font-size: 14px;
  }

  &-Arrow {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
    user-select: none;
    position: relative;
    top: -1px;

    &_Down {
      transform: rotate(0.25turn);
    }
  }

  &-Transaction {
    font-size: 12px;
    margin: 3px 0;
    display: none;

    &_Open {
      display: block;
    }
  }
}
