@import "../../../styles/styles.scss";

.Transactions {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  color: $grey-primary;
  //font-size: ;
  padding-bottom: 4px;

  &-Date {
    font-size: 14px;
  }

  &-Day {
    padding-bottom: 6px;
  }

  &-Arrow {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
    user-select: none;
    position: relative;
    top: -1px;

    &_Down {
      transform: rotate(0.25turn);
    }
  }

  &-TransactionRow {
    font-size: 12px;
    margin: 3px 0;
    display: none;

    &_Open {
      display: block;
    }
  }

  &-Close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
