$text-color: #333;

$blue-primary: #2699FB;

$navigation-panel-background-color: #707070;
$navigation-panel-text-color: #eee;
$navigation-panel-icon-hover-color: #1EA7FD;
$navigation-panel-icon-color: $blue-primary;

