@import "../../../styles/styles.scss";

.WalletHeader {
  align-self: flex-end;
  display: flex;
  flex-direction: column;

  &-BackButton {
    color: white !important;
    left: -28px;
    position: absolute !important;
    top: -28px;
  }

  &-Title {
    margin: auto;
  }

  &-Amount {
    font-size: 30px;
    margin: auto;
  }

  &-Tokens {
    color: $blue-secondary;
    position: absolute;
    bottom: -17px;
    font-size: 13px;
    width: 100%;
    text-align: center;
  }
}
