@import '../../../styles/styles.scss';

.WalletPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  &-Title {
    flex-grow: 1;
  }

  &-MenuButton {
    margin-right: 10px;
  }
  
  &-DrowerMenu {
    &-Item {
      padding-right: 20px !important;
    }

    &-ItemIcon {
      color: $blue-primary !important;
      min-width: 40px !important;
    }
  }

  &-Wrapper {
    display: flex;
    margin: 1em auto;
  }
}