@import "../../../styles/styles.scss";

.WalletRow {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0 0 33px 66px;
  min-height: 40px;
  transition: all 0.4s ease;

  &_Expanded {
    min-height: 80px;
  }

  &-Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-Icon {
    left: -60px;
  }

  &-Values {
    flex-grow: 1;
  }

  &-WalletName {
    cursor: pointer;
    font-weight: bold;

    &_Private {
      color: $private;
    }
  }

  &-WalletAmount {
    color: grey;
    font-size: $fiatFontSize;
    text-shadow: none;
  }

  &-Expander {
    height: 39px;
    width: 40px;

    & button {
      background: $button-background-color !important;
    }

    &_Private button {
      background: $private !important;
    }
  }

  &-Buttons {
    height: 60px;
    margin: -15px;
    padding: 30px 0;
    transition: all 0.2s ease-out;

    &_Hidden {
      height: 0;
      opacity: 0;
      padding: 0px 0;
      visibility: hidden;
    }
  }

  &-Button {
    &_Private {
      background-color: $private !important;
    }
  }
}
