@import "../../../styles/styles.scss";

.DemoPage {
  background-color: white;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  height: 100vh;
  min-width: 350px;

  &-Toolbar{
    align-items: flex-start;
    flex-direction: column;
    padding-top: 5px;
    min-height: 160;
    padding-bottom: 0;
  }

  &-ToolbarHeader{
    display: flex;
    border-bottom: grey 1px solid;
    width: 100%;
  }

  &-ToolbarHeaderItems{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: -15px;
  }

  &-ToolbarHeaderItemsEdgeStart{
    margin-left: -15px;
  }

  &-ToolbarBody{
    margin: auto;
    position: relative;
    width: 100%;
  }

  &-Input{
    width: 220px;
    margin-right: 10px;

    @media screen and (max-width: $screen-xs-max) {
      font-size: $small-font-size !important;
      margin: 0;
      width: 180px;
    }
  }

  &-Button{
    @media screen and (max-width: $screen-xs-max) {
      font-size: $small-font-size !important;
      margin-left: 10px !important;
    }

    &_Transfer {
      font-size: 20px !important;
      font-weight: bold;
      margin: 40px auto 0 !important;;
      height: 60px;
    }
  }

  &-TransferTo{
    margin-bottom: 8px;
    width: 355px;
  }

  &-Title{
    flex-grow: 1;
    align-self: flex-end;
  }
  
  &-Wrapper{
    display: flex;
    margin: 50px auto;
    flex-direction: column;

    @media screen and (max-width: $screen-xs-max) {
      margin: 20px auto;
    }
  }

  &-Info{
    display: flex;
    flex-direction: column;
    margin: auto auto 120px;
    padding: 20px;

    > span {
      margin-bottom: 5px;
    }

    @media screen and (max-width: $screen-xs-max) {
      font-size: $small-font-size;
      margin: 0;
    }
  }

  &-Footer{
    background-color: #020941;
    bottom: 0;
    display: flex;
    position: fixed;
    height: 120px;
    width: 100%;

    @media screen and (max-width: $screen-xs-max) {
      height: 80px;
    }
  }

  &-Logo {
    margin: auto;
    height: 60px; 

    @media screen and (max-width: $screen-xs-max) {
      height: 40px;
    }
  }

  &-AboutPage{
    height: 50vh;
  }

  &-ZeroPaddingRight{
    padding-right: 0;
  }

  &-Transfer{
    padding: 22px 20px 30px 11px;
    border: 1px solid #d8dbf1;
    margin: 24px -28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fafb;
  }
}