@import "../../../styles/styles.scss";

.DemoPage {
  background-color: white;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  height: 100vh;
  min-width: 350px;

  &-Toolbar{
    align-items: flex-start;
    flex-direction: column;
    padding-top: 5px;
    min-height: 160;
    padding-bottom: 0;
  }

  &-ToolbarHeader{
    display: flex;
    border-bottom: grey 1px solid;
    width: 100%;
  }

  &-ToolbarHeaderItems{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: -15px;
  }

  &-ToolbarHeaderItemsEdgeStart{
    margin-left: -15px;
  }

  &-ToolbarBody{
    margin: auto;
    position: relative;
    width: 100%;
  }

  &-Withdraw, &-Deposit, &-Mint{
    width: 200px;
    margin-right: 10px;
  }

  &-TransferAmount, &-TransferTo{
    width: 90%;
    height: 36px;
  }

  &-Title{
    flex-grow: 1;
    align-self: flex-end;
  }
  
  &-Wrapper{
    display: flex;
    margin: 50px auto;
    flex-direction: column;
  }

  &-Info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;

    > span {
      margin-bottom: 5px;
    }
  }

  &-Footer{
    background-color: #020941;
    bottom: 0;
    display: flex;
    position: fixed;
    height: 120px;
    width: 100%;
  }

  &-AboutPage{
    height: 50vh;
  }

  &-ZeroPaddingRight{
    padding-right: 0;
  }

  &-Transfer{
    padding: 24px 20px 27px 20px;
    border: 1px solid #d8dbf1;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -20px;
  }
}