@import "../../../styles/styles.scss";

.ExpandButton {
  display: flex;

  button {
    @include round-button();
    // background: inherit;
    margin: 0 !important;
    padding: 8px !important;

    svg {
      left: 1px;
      position: relative;
      width: 22px;
    }
  }

  &_Expended {
    button {
      transform: rotateZ(90deg);
      box-shadow: 2px -2px 4px $button-shadow-color;
    }
  }
}
