@import '../../../styles/styles.scss';

.StepFour {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-Form {
    display: grid;
  }

  &-FormControl.MuiFormControl-root {
    margin-bottom: $margin-normal;
  }

  &-Button.MuiButton-root {
    display: block;
    margin: auto;
  }
}