@import '../../../styles/styles.scss';

.Balance {
  color: $primary;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  text-shadow: 2px 2px 2px #ccc;
  
  &-Total {
    font-weight: bold;
    text-align: center;
  }
}