.ExportSeed {
  display: flex;
  flex-direction: column;
  justify-items: center;

  &-Name {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
  }

  &-Password {
    margin: -1rem 0 1rem !important;
  }

  &-Export,
  &-Cancel {
    width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
