@import "../../../styles/styles.scss";

.CreateAccountPage {
  display: block;

  &-Footer {
    background-color: $primary;
    bottom: 0;
    display: flex;
    position: fixed;
    height: 120px;
    width: 100%;
  }
}