@import "../../../styles/styles.scss";

.CreateAccountPage {
  display: block;

  &-Footer {
    background-color: $primary;
    bottom: 0;
    display: flex;
    position: fixed;
    height: 120px;
    width: 100%;

    @media screen and (max-width: $screen-xs-max) {
      height: 0;
    }
  }

  &-Logo {
    margin: auto;
    height: 50px; 
  }
}