.AboutPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  padding: 0 2rem;

  &-Text {
    font-size: 18px;
    text-align: center;
  }

  &-Button {
    margin-top: 2rem;
  }
}