@import "./size.scss";

@mixin round-button() {
  @include active($blue-secondary);
  @include hover($blue-light);
  @include size($round-button-size);

  background: $button-background-color !important;
  box-shadow: 2px 2px 4px $button-shadow-color;
  border: 1px solid $button-border-color !important;
  color: $button-color !important;
  margin: 15px !important;
  transition: all 0.4s ease;
}
