@import "../../../styles/styles.scss";

.Send {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-Title {
    text-align: center;
    margin-bottom: 20px;
    font-size: $page-title-font-size;
  }

  &-Inputs {
    display: grid;
    grid-template-columns: 1fr 30px;
    row-gap: 10px;
    position: relative;
  }

  &-Logo {
    width: 25px;
    position: absolute;
    left: -35px;
    top: 20px;
  }

  &-Next {
    flex-grow: 1;
    position: relative;
    margin-top: 60px;
    text-align: center;
  }

  &-AddressInputPaste,
  &-AmountInputMax {
    @include link();

    margin: auto 0 0 10px;
  }

  &-AddressInput {
    &_Invalid .MuiInput-underline:before {
      border-bottom-color: red !important;
    }
  }

  &-AmountInput {
    &_Invalid .MuiInput-underline:before{
      border-bottom-color: red !important;
    }
  }

  &-FiatAmount {
    font-size: 10px;
  }
}
